<h1><%= @vendor.name %></h1>
<div><%= @vendor.description %></div>
<div><%= @vendor.contact_name %> - <%= @vendor.contact_phone %></div>
<% if @vendor.credit_accepted %>
  <div>Credit Accepted</div>
<% else %>
  <div>Credit Not Accepted</div>
<% end %>